<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.ReviewMapper">

    <insert id="insertReview" parameterType="org.example.model.Review">
        INSERT INTO review (reviewTitle, reviewContent, bookType, bookTitle, bookAuthor, startDate, endDate, reviewScore)
        VALUES (#{reviewTitle}, #{reviewContent}, #{bookType}, #{bookTitle}, #{bookAuthor}, #{startDate}, #{endDate}, #{reviewScore})
    </insert>

    <select id="getReviewsByPage" resultType="org.example.model.Review">
        SELECT * FROM review ORDER BY reviewId DESC LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="getTotalReviewCount" resultType="int">
        SELECT COUNT(*) FROM review
    </select>

</mapper>